$white: #fff;
$borders: #D8E2E7;
$light-blue: #E7F5FE;

$darkest-blue: #253347;
$dark-blue: #5E6E85;


$blue: #345FF6;

$pink: #F21E84;
$yellow: #FFC700;
$orange-yellow: #F69134;
$orange-red: #F24E1E;
$green: #22C1C1;
$purple: #9747FF;

$error: #FD669D;




$input-ratio: rgba(52, 95, 246, 0.15);


$gradient1: linear-gradient(290deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%);
$blue-gradient: linear-gradient(90deg, #345FF6 0%, #587DFF 100%);
